.content-table {
  overflow: auto;
  height: 85%;
}

.button-ghost {
  background-color: transparent !important;
  border-color: transparent !important;

  color: #dc3545;
}

.button-ghost > img {
  width: 24px;
  height: 24px;
}

.button-ghost:hover {
  background-color: #fda359 !important;
}

#addbtn {
  margin-bottom: 4px;
}

main {
  width: 100%;
    background-color: #ffffff;
  background:url(assets/fundo3.svg);
  background-position: center;
  background-size: cover;
  height: 109vh;
 
}

.txtbnt {
      
  width: 60%;    
  margin: 0px auto;
  padding-bottom: 50px;
  
}